html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 0, 33);
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover {
    color: #00ffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
    padding: 0 30px;
}

nav ul {
    width: 100%;
    display: flex;
    /* justify-content: flex-end;
    flex-direction: row; */
    align-items: center;
    /* padding: 0 20px; */
    gap: 20px;
    width: auto;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

nav a {
    height: 100%;
    padding: 0 30px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(18, 18, 62, 0.208);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.left {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 500;
}

.firstsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 5%;
    margin-top: 0%;
    margin-bottom: -150px;
}


.leftsection {
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 30px 0;
    text-align: left;
}

.buttons {
    padding: 20px 0px;
}

.btn {
    padding: 12px 24px;
    background: linear-gradient(135deg, #1e2167, #2b2f8a);
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.5px;
    margin: 10px;
}

.btn:hover {
    background: white;
    color: #1e2167;
    border-color: #1e2167;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.3);
}

.rightsection img {
    height: 500px;
    max-width: 100%;
    margin-right: 80px;
}

.journey-note {
    text-align: center;
}

.purple {
    color: rgb(170, 107, 228);
}

.grey,
.vertical-desc {
    color: #9c97f1;
    font-size: 12px;
}

#element {
    color: rgb(170, 107, 228);
    font-weight: 700;
    font-size: 2.5rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 50px 84px;
}

.Secondsection {
    max-width: 80vw;
    margin: auto;
}

.Secondsection h2 {
    font-size: 1.2rem;
    color: #9c97f1;
    margin-bottom: 5px;
}

.Secondsection h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.Secondsection .box {
    width: 80vw;
    margin: 56px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    padding: 20px;
    border: 1px solid #9c97f1;
    border-radius: 10px;
    width: 250px;
}

.image-top {
    width: 50px;
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;
}

.image-top:hover {
    transform: translateY(0);
}

.vertical-text {
    font-size: 15px;
    margin-bottom: 8px;
}

footer {
    background-color: rgb(18, 18, 62);
    color: #fff;
    margin-top: 0;
    text-align: center;
}

.footer-top,
.footer-middle,
.footer-lower,
.footer-rights {
    padding: 10px;
    font-size: 15px;
    color: #ccc;
}

.footer-top strong {
    color: white;
}

.footer-lower ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-lower li {
    margin: 4px 0;
}

.about-section {
    background-color: rgb(0, 0, 33);
    text-align: center;
    margin-bottom: 30px;
}

.about-section h1 {
    font-size: 2.5rem;
    color: #c770f0;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5rem;
    /* padding: 20px 0; */
}


.about-left img {
    max-width: 350px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(199, 112, 240, 0.5);
}

.about-right {
    max-width: 600px;
    text-align: left;
}

.about-right p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 15px;
}

.contact-section {
    background-color: rgb(0, 0, 33);
    text-align: center;
}

.contact-section h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #c770f0;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.contact-card {
    width: 200px;
}

.icon-circle {
    background-color: #1e2167;
    color: white;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.contact-card h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #ffffff;
}

.contact-card p,
.contact-card a {
    font-size: 0.95rem;
    color: #bdbdbd;
    text-decoration: none;
}

.contact-cta h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}




#projects h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #c770f0;
}

#projects #subheading {
    text-align: center;
    font-size: 1.2rem;
    color: #bdbdbd;
    margin-bottom: 30px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.project-card {
    width: 500px;
    background-color: #1f1f1f;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.5);
    transition: transform 0.3s ease;
    cursor: pointer;

}

.project-card:hover {
    transform: scale(1.05);
}

.project-img {
    width: 480px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.7);
}

.project-desc {
    display: none;
    margin-top: 10px;
    background-color: #2b2b2b;
    padding: 10px;
    border-radius: 10px;
}

.project-desc h3 {
    margin-bottom: 5px;
    color: #ffdd57;
}

.project-desc p {
    font-size: 0.9rem;
    color: #ddd;
}

.project-desc a {
    display: inline-block;
    margin-top: 8px;
    color: #61dafb;
    text-decoration: none;
}


#certificate h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #c770f0;
}

#certificate #subheading {
    text-align: center;
    font-size: 1.2rem;
    color: #bdbdbd;
    margin-bottom: 30px;
}

.certificate-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.certificate-card {
    width: auto;
    height: auto;
    background-color: #1f1f1f;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.5);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.certificate-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(199, 112, 240, 0.6);
}

.certificate-img {
    width: 400px;
    height: 300px;

    border-radius: 10px;
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.7);
}



@media screen and (max-width: 1024px) {

    .firstsection>div {
        width: 100%;
        margin-bottom: 0;
    }

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .rightsection img {
        display: none;
    }

    .firstsection {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: -70px;
        /* add spacing */
    }

    .Secondsection {
        margin-top: 0px;
        /* push it down */
    }

    nav ul {
        justify-content: space-between;
        width: 100%;
    }

    .about-content {
        flex-direction: column;
        gap: 3rem;
    }

    .about-left img {
        max-width: 90%;
    }

    .about-right {
        max-width: 90%;
        text-align: center;
    }

    .project-card,
    .certificate-card {
        width: 80%;
    }

    .projects-container,
    .certificate-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.contact-container {
    display: none;
}

@media screen and (max-width: 768px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    nav {
        padding: 0 20px;
    }

    nav ul {
        flex-direction: row;
        /* 🔥 keep row */
        justify-content: space-between;
        width: 100%;
    }

    .left {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .leftsection {
        font-size: 1.7rem;
        text-align: center;
    }

    .btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .Secondsection h1,
    .contact-section h1,
    #projects h1,
    #certificate h1,
    .about-section h1 {
        font-size: 2rem;
    }

    .vertical {
        width: 80%;
    }

    .project-img,
    .certificate-img {
        width: 100%;
        height: auto;
    }

    .project-card,
    .certificate-card {
        width: 90%;
    }

    .contact-card {
        width: 90%;
    }
}

/* For small mobiles (up to 480px) */
@media screen and (max-width: 480px) {

    .sidebar {
        width: 100%;
    }

    .leftsection {
        font-size: 1.4rem;
    }

    #element {
        font-size: 1.8rem;
    }

    .btn {
        width: 100%;
        margin: 10px 0;
    }

    .vertical-text {
        font-size: 14px;
    }

    .about-right p {
        font-size: 1rem;
    }

    .project-desc p {
        font-size: 0.85rem;
    }
}
